
@font-face{
    font-family: "avenir";
    src:local("avenir/AEH.ttf");
}

@viewport {
    width: device-width;
    zoom: 1.0 ;
  }

/* All Mobile Sizes (devices and browser) */
@media only screen and (min-width: 641px) {
    #dropdown{
        display: none;
    }
    #nav {
        display: inline-block;
    }
    #welcome {
        display: block;
        padding-right: 30px;
        padding-left: 30px
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {

} */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 640px) {
    #dropdown{
        display: inline-block;
    }
    #nav {
        display: none;
    }
    #welcome {
        display: none;
    }
}

body{
    font-family: avenir;
    margin: 0px;
    height: 100%;
}

.logo{
    float: left;
    padding: 20px 0 0 20px;
}

.main-header {
    width: 100%;
    position: relative;
    background: transparent;
    border: 5px solid #83d0f2;
    border-width: 5px 0 0 0;
    height: 150px;
    clear: both;
}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: #83d0f2;
}

.nav{
    display: block;
    z-index: 95;
    float: right;
}

.nav-item{
    display: inline-block;
    position: relative;
    line-height: 80px;
    vertical-align: center;
    font-size: 16pt;
    padding: 16px;
}

.content{
    display: block;
    position: relative;
}

.colored_text {
    position: relative;
    z-index: 88;
    clear: both;
    background-color: #f5f9fa;
    padding: 30px 30px;
    text-align: center;
}

.uncolored_text{
    position: relative;
    z-index: 88;
    clear: both;
    background-color: white;
    padding: 30px 0;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.dropbtn {
    font-family: avenir;
    color: black;
    padding: 16px;
    font-size: 16pt;
    border: none;
    position: relative;
    margin-top: 45px;
    display: inline-block;
}

.dropdown {
    position: relative;
    padding-right: 20px;
    display: block;
    z-index: 95;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: auto;
    right: 0;
    margin-right: 20px;
}

.dropdown-content a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #83d0f2;
}

.banner{
    position: relative;
}

.overlay{
    text-align: center;
    color: black;
    font-size: 200%;
    vertical-align: center;
    padding-top: 5%;
    position: relative;
}

#home-banner {
    background-image: url("nyc-new-york-city-panoramic-cityscape-manhattan-skyline-sunny-day-blue-sky-time-lapse_enar36iwl__F0001.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    min-width: 100%;
    padding-bottom: 50%;
    max-height: 0%;
}